/**
 * Menus
 */
.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu__item {
	color: white; // $color-nav-link-text;
    line-height: /1.25;
    vertical-align: top;

	a {
        font-size: 0.85em; //0.88889em;
        font-weight: 400;
	}

	a:not(.btn) {
		color: inherit;
		display: inline-block;
		position: relative;
        text-decoration: none;
        font-size: 1em; //new
	}

	a:not(.btn):hover,
	&.is-active a {
		text-decoration: underline;
	}
}